:root {
  --colortextomenu: #4a4a4a;
  --colorfondo: #3cdbc0;
  --colortextocreando: #ffffff;
}
* {
  padding: 0%;
  margin: 0%;
}
body {
  font-family: "Rubik", sans-serif;
}
.header {
  background-color: white;
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 13px;
}

.img {
  margin-bottom: 10px;
}
.menu {
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  word-spacing: 20px;
  text-decoration: none;
}
.main {
  background-color: var(--colorfondo);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color: white;
  font-weight: bold;
}
@media all and (min-width: 768px) {
  .header {
    flex-direction: row;
    justify-content: space-between;
  }
  .menu {
    font-size: 16px;
    position: relative;
    margin-right: 30px;
  }
  .main {
    font-size: 40px;
  }
  .img {
    padding-left: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
