:root {
  --colortextmenu: #4a4a4a;
  --colorbackground: #3cdbc0;
  --colortextmain: #ffffff;
}
* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}
body {
  font-family: "Rubik", sans-serif;
}
.header {
  text-transform: uppercase;
  list-style: none;
  background-color: white;
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 13px;
}

.img {
  margin-bottom: 10px;
}
.menu {
  list-style-type: none;
  font-size: 16px;
  display: flex;
}

.link-menu {
  padding: 0px 10px 13px 10px;
  text-decoration: none;
  color: #4a4a4a;
}

.main {
  font-family: "Rubik", sans-serif;
  text-transform: capitalize;
  background-color: var(--colorbackground);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color: var(--colortextmain);
  font-weight: bold;
}
@media all and (min-width: 768px) {
  .header {
    flex-direction: row;
    justify-content: space-between;
  }
  .menu {
    font-size: 16px;
    position: relative;
    margin-right: 30px;
  }
  .main {
    font-size: 40px;
  }
  .img {
    padding-left: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
